#MainContainer {
  display: flex;
  justify-content: center;
  height: auto;
  background-color: #ffffff;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}

#BrandingCompanies {
  margin-top: 25px;
  width: 1543px;
  height: 118px;
  top: 1373px;
  left: 189px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#BrandingCompanies p {
  font-weight: 600;
  font-style: Medium;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #73778e;
}

#BrandingCompanies p span {
  color: #4380fc;
}

#BrandIconContainer {
  display: flex;
  flex-direction: row;
  gap: 100px;
  width: 1543px;
  height: 39px;
  top: 1452px;
  left: 189px;
  opacity: 1;
  gap: 100px;
}

#lastBrandingSectionBlock {
  width: 1601px;
  height: 455px;
  text-align: center;
  margin-top: 150px;
  opacity: 1;
}

#lastBrandingSectionBlock h1 {
  font-size: 48px;
  font-weight: 700;
  color: #0f172a;
  line-height: 1.3;
  -webkit-text-stroke: 1px;
  height: 128px;
  letter-spacing: 2px;
  opacity: 1;
}

#lastBrandingSectionBlock h1 span {
  color: #3b82f6;
  /* blue highlight text */
}

#lastBrandingSectionBlock h1 .emoji {
  font-size: 38px;
  vertical-align: middle;
}

.last-desc {
  margin: 15px auto 50px auto;
  font-size: 20px;
  color: #73778e;
  line-height: 1.6;

  width: 785px;
  height: 90px;

  opacity: 1;

  font-weight: 500;
  font-style: Medium;

  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

.stats-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1601px;
  height: 170px;
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
}

.stat-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 6px;
  border-right: 1px solid #e2e8f0;
}

.stat-box:last-child {
  border-right: none;
}

.stat-box h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #0f172a;
}

.stat-box p {
  color: #64748b;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
