.faq-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 60px;
  max-width: 1350px;
  margin: 200px auto;
}

.faq-left {
  width: 40%;
}

.faq-tag {
  font-size: 14px;
  background: #eef4ff;
  color: #4f46e5;
  padding: 6px 12px;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 18px;
}

.faq-left h2 {
  font-size: 42px;
  font-weight: 700;
  color: #0f172a;
  line-height: 1.3;
  margin-bottom: 18px;
}

.highlight {
  color: #4f46e5;
}

.faq-desc {
  font-size: 16px;
  color: #64748b;
  line-height: 1.6;
  max-width: 480px;
}

.faq-right {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.faq-item {
  background: #fff;
  border-radius: 10px;
  padding: 18px 22px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: 0.3s ease;
}

.faq-item:hover {
  background: #f7f9ff;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: #0f172a;
  font-size: 15px;
}

.faq-answer {
  margin-top: 14px;
  font-size: 14px;
  color: #64748b;
  line-height: 1.5;
  animation: fadeIn 0.3s ease-in-out;
}

.faq-icon {
  font-size: 20px;
  color: #4f46e5;
  font-weight: bold;
}
.arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-right: 2px solid #4f46e5;
  border-bottom: 2px solid #4f46e5;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

/* Flip direction when open */
.arrow.up {
  transform: rotate(-135deg);
}

.arrow.down {
  transform: rotate(45deg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 📱 Responsive */
@media (max-width: 900px) {
  .faq-section {
    flex-direction: column;
  }
  .faq-left,
  .faq-right {
    width: 100%;
  }
}
